{% extends 'todo/base.html' %}
{% load static %}
{% block title %}
    <title>To-Do List</title>
{% endblock %}

{% block body %}

{#    potential button for add task#}
{#    <form action="{% url 'movie' %}" method="post">#}
{#            {% csrf_token %}#}
{#    #}
{#            <div class="input-group mb-3">#}
{#                <input type="text" class="form-control" placeholder="Add Movie" name="movie" aria-label="add movie" aria-describedby="button-addon2">#}
{#                <div class="input-group-append">#}
{#                    <button class="btn btn-primary" type="submit" name="movie">ADD</button>#}
{#                </div>#}
{#            </div>#}
{#    #}
{#        </form>#}
{% endblock %}